### Maven build ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
# Ignore all IDEA project files, except code style & run configs if you want to share
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
comment-sender.iml
*.iml
*.iws
*.ipr